{% extends "base.twig" %}
{% block title %}Crystal User System{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h2>Crystal User System</h2>
    <p>ID: {{ id }}</p>
    <p>Username: {{ username }}</p>
    <p>Email: {{ email }}</p>
    <p>Password: {{ password }}</p>
    <p>Admin Permission Level: {{ admin }}</p>
    <p>Group joint:
        {% for t in grp %}
            {{ t }}
        {% endfor %}
    </p>
    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}